/* styles.css */
@font-face {
    font-family: 'Sunday';
    src: url('../fonts/Sunday.otf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /* Ocupa todo el espacio disponible en el body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra el contenido verticalmente */
    align-items: center;
    /* Centra e l contenido horizontalmente */
    text-align: center;
}

footer {
    background-color: #48022e;
    color: white;
    text-align: center;
    padding: 1% 0;
    width: 100%;
}

h1 {
    font-family: 'Sunday', Arial, sans-serif;
    font-size: 3.5rem;
    margin: 1rem;
}

/* Estilos Index*/
nav ul {
    background-color: #48022e;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
}

nav ul li {
    margin: 0 1%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.iconos-wpp-ins a {
    color: white;
    text-decoration: none;
}


.servicios table,
td {
    border: 10px solid white;
    border-collapse: collapse;
}

.servicios td {
    background-color: #ac906d;
    border-radius: 20px;
    padding-left: 1%;
    padding-right: 1%;
}

.servicios tr td:hover {
    background-color: #e2be92;
    transform: scale(1.05);
}


/* Estilos navbar recetas*/
.recetas nav {
    background-color: #48022e;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.recetas a {
    display: flex;
    margin: 0 1%;
    color: white;
}

.recetas li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 5rem;
}

.recetas nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.recetas nav ul li a:hover {
    text-decoration: underline;
}

.iconos-wpp-ins a {
    color: white;
    text-decoration: none;
}

/* Estilos Recetas */
.recetas-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea si es necesario */
    justify-content: space-between;
    gap: 2rem; 
    padding: 0 2% 2% 2%;
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
}

.recetas-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 12rem;       
    flex-shrink: 0;           
}

.recetas-box img {
    max-width: 100%;          /* Asegura que la imagen se ajuste al contenedor */
    height: 15rem;             /* Mantiene la proporción de la imagen */
    border-radius: 5px;
}

.recetas-box:hover {
    transform: scale(1.05);
}


/* Estilos Contacto */
.container_contacto {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1%;
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
    color:white;
}

.container_contacto label {
    font-size: 1.2rem;
}

input[type=text],
input[type=password],
input[type=tel],
select,
textarea {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[type=submit] {
    background-color: #4d0344;
    color: white;
    padding: 2% 4%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #37043b;
}

.boton-enviar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.fondo-contacto {
    background-image: url('../Img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Estilos para el carrusel */
.carrusel {
    position: relative;
    /* Posiciona el carrusel relativo a su contenedor, lo que permite la colocación precisa de los elementos internos */
    width: 100%;
    /* El ancho del carrusel es 100% del contenedor padre */
    overflow: hidden;
    /* Oculta cualquier contenido que se desborde fuera del contenedor del carrusel */
}

.carrusel-container {
    display: flex;
    /* Utiliza Flexbox para alinear las imágenes en una fila horizontal */
    width: 100%;
    /* El ancho del contenedor del carrusel es 100% del contenedor padre */
    transition: transform 0.8s ease-in-out;
    /* Para una transicion suave */
}

.carrusel-imagenes {
    display: flex;
    /* Utiliza Flexbox para alinear las imágenes en una fila horizontal dentro del contenedor */
    height: 30rem;
}

.carrusel-imagenes img {
    width: 20%;
    /* Cada imagen ocupa el 20% del ancho del contenedor 'carousel-images', de modo que se muestran 5 imágenes a la vez */
    height: auto;
    /* Mantiene la proporción de la imagen, ajustando la altura automáticamente */
    object-fit: cover;
    /* Asegura que la imagen cubra completamente su contenedor, recortando si es necesario */
}


ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 20px;
}

ol {
    margin: 0;
    padding: 0 0 0 20px;
}

li {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Estilo receta */

.receta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.receta-img {
    max-width: 25%;
    border-radius: 10px;
}

.receta-contenido {
    max-width: 70%;
    text-align: left;
}



.receta-contenido h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.receta-contenido ul,
.receta-contenido ol {
    padding-left: 1rem;
}

.receta-contenido ul li,
.receta-contenido ol li {
    margin-bottom: 1rem;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* Para estar por encima del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 2rem;
    border: 0.5rem solid #76097e;
    border-radius: 10px;
    width: 80%;
    max-width: 15rem;
    text-align: center;
}

.close {
    color: #ff85e4;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #5d1b4e;
    text-decoration: none;
    cursor: pointer;
}

#modalOk:hover {
    background-color: #5d1b4e;
    color: #ffffff;
}

/* Estilos para el mensaje de validar datos del form */
.validar-datos {
    color: white;
    background-color: #7e0e0e;
    padding: 0.2rem;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    /* Para que se comporte como una etiqueta */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 50%;
}

/* Estilos generales para el panel de administración */
.admin-panel {
    background-color: #988e8e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-presentacion{ 
justify-content: center;
display: flex;
flex-direction: column;
align-items: center; 
justify-content: center;
gap: 1rem; 
margin: 2rem auto;
padding: 1rem;
width: 60%;
background-color: #f4f4f4;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

.form-section{
    width: 50rem;
    align-items: center;
}

button[type=submit] {
    background-color: #4d0344;
    color: white;
    padding: 2% 4%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #37043b;
}


.section-servicios{ 
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 0.5rem; 
    margin: 2rem auto;
    padding: 1rem;
    width: 60%;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    }


/* Estilos para las tablas de admin*/
.admin-table {
    width: 80%; 
    margin: 1rem auto; 
    border-collapse: collapse; 
    background-color: #f9f9f9; 
}

/* Estilos para las celdas de la tabla */
.admin-table th, .admin-table td {
    padding: 1rem; 
    text-align: left; 
    border: 1px solid #868282;
}

/* Encabezado de la tabla */
.admin-table th {
    background-color: #e0e0e0; 
    color: #333; 
    font-weight: bold; 
}

/* Filas impares con un color gris más claro */
.admin-table tr:nth-child(odd) {
    background-color: #f5f5f5; 
}

/* Filas pares con un color gris suave */
.admin-table tr:nth-child(even) {
    background-color: #ffffff; 
}


/* Estilos para la sección de recetas */
.section-recetas {
    gap: 0.5rem; 
    margin: 2rem auto;
    padding: 1%;
    width: 60%;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/*Estilos editar-crear-receta*/

.editar-crear-receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: 1rem;
    max-width: 60rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 40rem;
}

.editar-crear-receta label,
.editar-crear-receta input[type="text"],
.editar-crear-receta textarea,
.editar-crear-receta input[type="file"],
.editar-crear-receta button {
    max-width: 40rem;
}

.editar-crear-receta img {
    border-radius: 5px;
}

.btn-volver{
margin: 1rem;
}

.btn-cerrar-sesion{
margin-bottom: 1rem;
width: 10rem;
}

/*LOGIN*/

/* Estilo para el contenedor del formulario */
.login-container {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo gris con opacidad */
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 25rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

/* Estilo para los campos del formulario */
label {
    display: block;
    margin-bottom: 8px;
}


.section-consultas{ 
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 0.5rem; 
    margin: 30px auto;
    padding: 1rem;
    width: 60%;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    }

.fondo-login {
    background-image: url('../Img/fondoLogin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.section-presentacion textarea, [type=text]{
    width: 80%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f4f4f4;
}

.section-servicios input[type=text]{
    width: 80%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
    

/* Ajustes generales para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    nav ul {
        flex-direction: row;
        height: auto;
        height: 3rem;
    }

    .recetas-container {
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .recetas-box {
        width: 60%;
        margin-bottom: 1rem;
    }

    .carrusel-imagenes {
        height: 20rem;
    }

    .carrusel-imagenes img {
        width: 100%;
        height: 100%;
    }

    .receta-container {
        flex-direction: column;
        gap: 0;
    }

    .container_contacto {
        max-width: 80%;
    }

    .receta-img {
        max-width: 30%;
    }

    
.section-presentacion textarea, [type=text]{
    width: 50%;
}

.section-servicios input[type=text]{
    width: 50%;
}

}


/* Ajustes para pantallas intermedias */
@media (min-width: 769px) and (max-width: 1028px) {
    h1 {
        font-size: 3rem;
    }

    .recetas-box {
        width: 45%;
    }

    .carrusel-imagenes img {
        width: 60%;
    }

    .container_contacto {
        max-width: 80%;
        margin-bottom: 1%;
    }

    .receta-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .receta-img {
        max-width: 30%;
    }

    .section-presentacion textarea, [type=text]{
        width: 60%;
    }
    
    .section-servicios input[type=text]{
        width: 60%;
    }
    

}