/* styles.css */
@font-face {
    font-family: 'Sunday';
    src: url('../fonts/Sunday.otf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /* Ocupa todo el espacio disponible en el body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra el contenido verticalmente */
    align-items: center;
    /* Centra e l contenido horizontalmente */
    text-align: center;
}

footer {
    background-color: #48022e;
    color: white;
    text-align: center;
    padding: 1% 0;
    width: 100%;
}

h1 {
    font-family: 'Sunday', Arial, sans-serif;
    font-size: 3.5rem;
    margin: 1rem;
}

/* Estilos Index*/
nav ul {
    background-color: #48022e;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
}

nav ul li {
    margin: 0 1%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.iconos-wpp-ins a {
    color: white;
    text-decoration: none;
}


table,
td {
    border: 10px solid white;
    border-collapse: collapse;
}

td {
    background-color: #ac906d;
    border-radius: 20px;
    padding-left: 1%;
    padding-right: 1%;
}

.servicios tr td:hover {
    background-color: #e2be92;
    transform: scale(1.05);
    /* Agranda ligeramente el elemento */
}


/* Estilos navbar recetas*/
.recetas nav {
    background-color: #48022e;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.recetas a {
    display: flex;
    align-items: left;
    margin: 0 1%;
    color: white;
}

.recetas li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 5rem;
}

.recetas nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.recetas nav ul li a:hover {
    text-decoration: underline;
}

.iconos-wpp-ins a {
    color: white;
    text-decoration: none;
}

/* Estilos Recetas*/
.recetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2% 2% 2%;
    margin-top: 0;
    margin-left: 2%;
    margin-right: 2%;
}

.recetas-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.recetas-box img {
    max-width: 12rem;
    height: 12rem;
    border-radius: 5px;
}

.recetas-box:hover {
    transform: scale(1.05);
}


/* Estilos Contacto*/
.container_contacto {
    border-radius: 5px;
    background-color: #8f8f8f;
    padding: 1%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container_contacto label {
    font-size: 1.2rem;
}

input[type=text],
input[type=tel], 
select,
textarea {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 2%;
    resize: vertical;
}

textarea {
    height: 7rem; /* Cambia este valor al tamaño que prefieras */
}

input[type=submit] {
    background-color: #4d0344;
    color: white;
    padding: 2% 4%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #37043b;
}

.boton-enviar {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    width: 100%; /* Asegura que el contenedor adicional ocupe el ancho completo */
}

.fondo_contacto {
    background-image: url('../Img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Mantiene la imagen fija en su lugar cuando se desplaza el contenido */
}

/* Estilos para el carrusel */
.carrusel {
    position: relative;
    /* Posiciona el carrusel relativo a su contenedor, lo que permite la colocación precisa de los elementos internos */
    width: 100%;
    /* El ancho del carrusel es 100% del contenedor padre */
    overflow: hidden;
    /* Oculta cualquier contenido que se desborde fuera del contenedor del carrusel */
}

.carrusel-container {
    display: flex;
    /* Utiliza Flexbox para alinear las imágenes en una fila horizontal */
    width: 100%;
    /* El ancho del contenedor del carrusel es 100% del contenedor padre */
    animation: scroll 30s linear infinite;
    /* Aplica la animación 'scroll' que dura 30 segundos, se ejecuta de manera lineal y se repite infinitamente */
}

.carrusel-images {
    display: flex;
    /* Utiliza Flexbox para alinear las imágenes en una fila horizontal dentro del contenedor */
    width: 200%;
    /* El ancho total es el doble del contenedor visible para permitir el bucle infinito */
    height: 30rem;
}

.carrusel-images img {
    width: 20%;
    /* Cada imagen ocupa el 20% del ancho del contenedor 'carousel-images', de modo que se muestran 5 imágenes a la vez */
    height: auto;
    /* Mantiene la proporción de la imagen, ajustando la altura automáticamente */
    object-fit: cover;
    /* Asegura que la imagen cubra completamente su contenedor, recortando si es necesario */
}

/* Animación para el desplazamiento infinito */
@keyframes scroll {
    from {
        transform: translateX(0);
        /* Comienza desde la posición inicial, sin desplazamiento horizontal */
    }

    to {
        transform: translateX(-100%);
        /* Desplaza el contenido hacia la izquierda en un 100% del ancho del contenedor visible */
    }
}


ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 20px;
}

ol {
    margin: 0;
    padding: 0 0 0 20px;
}

li {
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Estilo receta */

.receta-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 40px;
}

.receta-img {
    max-width: 25%;
    border-radius: 10px;
}

.receta-contenido {
    max-width: 70%;
    text-align: left;
}



.receta-contenido h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.receta-contenido ul,
.receta-contenido ol {
    padding-left: 20px;
}

.receta-contenido ul li,
.receta-contenido ol li {
    margin-bottom: 10px;
}




/* Ajustes generales para pantallas más pequeñas (móviles) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 3rem;
    }

    nav ul {
        flex-direction: row;
        height: auto;
        height: 3rem;
    }

    .recetas-container {
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
    }

    .recetas-box {
        width: 60%;
        margin-bottom: 1rem;
    }

    .carrusel-images{
        height: 20rem;
    }

    .carrusel-images img {
        width: 100%;
        height: 100%;
    }

    .receta-container {
        flex-direction: column;
        gap: 0;
    }

    .container_contacto{
        max-width: 80%;
    }

    .receta-img {
        max-width: 30%;
    }
}

/* Ajustes para pantallas intermedias */
@media (min-width: 769px) and (max-width: 1028px) {
    h1 {
        font-size: 3rem;
    }
    
    .recetas-box {
        width: 45%;
    }

    .carrusel-images img {
        width: 60%;
    }

    .container_contacto{
        max-width: 80%;
        margin-bottom: 1%;
    }

    .receta-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .receta-img {
        max-width: 30%;
    }
}